.lista {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

.mat-list-item {
    padding: 8px;
}

.mat-icon-button {
    display: flex;
    align-items: center;
}

.mat-icon {
    margin-right: 4px; /* Ajusta el espacio entre el icono y la palabra "Delete" según tus preferencias */
}

.mat-icon-button span {
    white-space: nowrap; /* Evita que la palabra "Delete" se divida en varias líneas */
}
